
@{
    ViewBag.Title = "Catelog";
}

<h2>Checkout</h2>

<div class="jumbotron">
    <h4 class="text-center">Thank you for using Chris's Closet.</h4>
    <p>We hope to see you again soon!</p>
    <button class="btn btn-primary" onclick="Checkout()">Check-Out</button>
</div>