@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chris's Closet</h1>
    <p class="lead">Welcome to Chris's Closet! Click the button below to pick out a new outfit, or browse the seperate categories to see what fancies your style!</p>
    <a class="btn btn-default" href="~/Outfits/Index">Pick Your Outfit</a>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Tops</h3>
                <p>
                    Shirts to make the ladies flirt!
                </p>
                <p><a class="btn btn-default" href="~/Tops/Index">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Bottoms</h3>
                <p>
                    Pants to make you dance!
                </p>
                <p><a class="btn btn-default" href="~/Bottoms/Index">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Shoes</h3>
                <p>
                    Shoes to kick away the blues!
                </p>
                <p><a class="btn btn-default" href="~/Shoes/Index">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Accessories</h3>
                <p>
                    Bling that makes the choir sing!
                </p>
                <p><a class="btn btn-default" href="~/Accessories/Index">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>