@{
    Layout = null;
}

<link href="~/Content/startstyle.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chris's Closet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="overlay center-block">
        <h1 class="text-center">Welcome To Chris's Closet</h1>
        <h4 class="text-center">Find your perfect outfit today!</h4>
        <a class="btn btn-default" href="~/Home/Index">Enter &raquo;</a>
    </div>
</body>
</html>
